div.confirmed{
	margin: 0;
	background-image: url(assets/hightschoolart.jpg);
	height: 150px;
}
div.banner_cover{
	background-color: rgba(0, 0, 0, 0.6); background-size: cover; height: 150px;
}
div.title-header{
	 background-color: brown;
	 color: white;

}
div.angels-news{
	border-radius: 30% 30% 30% 0%;
	background-color: black;
	color: white;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	text-transform: uppercase;

}
h2.an-news, h5.an-news-title{
	background-color: white;
	color: red;
	text-decoration : underline;
	text-decoration-color: black;
}
div.top-logo{
  border-radius: 5px;
  border: 4px solid white;
  box-shadow: 10px 10px red;
  width: 250px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
}

li.nav-item a{
  text-align: center;
	color: red;
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
}
li.nav-item{
	padding-left: 2rem;
}

div.card:hover{
  border: 2px solid white;
}
label{
	margin-bottom: 0;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	font-weight: bolder;
}
hr{
	border: 2px solid white;
}
div#error-message{
	margin-bottom: 20px;
	padding: 0px;
	background: red;
	transition: all 0.5s ease;
	text-align: center;
	font-family: inherit;
	text-transform: uppercase;
}
div.footer_down{
	padding: 2rem;
	text-align: center;
	background-color: black;
	color: white;
}
 a.btn{
	background-color: red;
	color: white;
	font-weight: bolder;
	text-decoration-line: none;
	text-decoration: none;
	font-weight: border;
}
button.btn, button.btn a{
	background-color: brown;
	color: white;
	font-weight: bolder;
	text-decoration-line: none;
	text-decoration: none;
	font-weight: border;
}
button.btn{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
p.card-text div.container{
	background-color: black;
	color: white;
}
section.angels_history{
	background-color: black;
	color: white;
	font-weight: bold;
}
div.contact_us{
	background-color: black;
	color: white;
}
